@import './Layout/Header.css';

.track-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  place-items: center;
  gap: 1rem;
}

.track{
  display: flex;
  align-items: center;
  width: 300px;
  gap: 1rem;
}

.track div {
  font-size: 8px;
}



.audio{
  width: 250px;
    height: 30px;
}

