@import './Layout/Header.css';
@import './Main/Carousel.css';
@import url('https://fonts.googleapis.com/css2?family=Michroma&family=Stalinist+One&display=swap');

.track-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  place-items: center;
  gap: 1rem;
}

.track{
  display: flex;
  align-items: center;
  width: 300px;
  gap: 1rem;
}

.track div {
  font-size: 8px;
}

.audio{
  width: 250px;
    height: 30px;
}


